Corp_Emp_RR_AppianWorkdayREST/Schemas/Workdayrequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Workdayrequest" xmlns:tns="http://www.example.org/Workdayrequest" elementFormDefault="qualified">

    <complexType name="request">
    	<sequence>
    		<element name="queryParameter" type="string" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="variableParameter" type="string" minOccurs="0"
    			maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <element name="wordayrequest" type="tns:request"></element>
</schema>